.gallery {
  @include respond-above($tablet) {
    @include grid();
  }
}

.photo-card {
  box-shadow: $card-shadow;
  border-radius: 4px;
  overflow: hidden;

  @include respond-below($tablet) {
    &:not(:last-child) {
      margin-bottom: $card-gap;
    }
  }

  @include respond-above($tablet) {
    @include grid-item(2);
  }

  @include respond-above($desktop) {
    @include grid-item(4);
  }
}

.photo-card__thumb {
  @include respond-below($tablet) {
    height: 300px;
  }

  @include respond-above($tablet) {
    height: 234px;
  }

  @include respond-above($desktop) {
    height: 170px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @include respond-below($desktop) {
    justify-content: space-around;
  }
}

.info__item {
  text-align: center;
}

.info__title {
  display: block;
  margin-bottom: 4px;
}

// Load-more Button
.load-more__btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 18px;
  min-width: 100px;
  min-height: 50px;

  font-size: 16px;
  font-weight: 700;
  border: 1px solid $accent-color;
  border-radius: 4px;
  cursor: pointer;

  color: $accent-color;
  background-color: $white-bg-color;
  opacity: 1;
  transition: box-shadow $animation;

  &:hover,
  &:focus {
    box-shadow: $btn-shadow;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
