.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $accent-color;
  box-shadow: $card-shadow;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}
